# ignore all obj and bin folders (even in subdirectories)
obj/
bin/
packages/
.vs/
PdfCodeEditor.sln.DotSettings.user
/PdfCodeEditor.Installer/PdfCodeEditor.Installer.wixproj.user
/PdfCodeEditor/PdfCodeEditor.csproj.user
/PdfCodeEditor/PdfCodeEditor.csproj.DotSettings.user
