<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(var.ProjectDir)/Common.wxi?>

  <Product Id="$(var.ProductId)"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)"
           >
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.Version)" Property="NEWERVERSIONDETECTED" OnlyDetect="yes" IncludeMinimum="yes" />
      <UpgradeVersion Maximum="$(var.Version)" Property="OLDERVERSIONBEINGUPGRADED" IncludeMaximum="yes" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
      <RemoveRegistryValues />
    </InstallExecuteSequence>
    <InstallUISequence>
      <FindRelatedProducts Sequence="99" />
    </InstallUISequence>

    <MediaTemplate />

    <Feature Id="ProductFeature" Title="PdfCodeEditor" Level="1">
      <!--heat dir \..\PdfCodeEditor\bin\Release 
      -o Assemblies.wxs -scom -var var.AssembliesPath -frag -srd -sreg -gg -cg AssembliesGroupId -dr INSTALLFOLDER-->
      <ComponentGroupRef Id="AssembliesGroupId" />
      <ComponentGroupRef Id="RegistryEntries"/>
    </Feature>

    <Icon Id="icon.ico" SourceFile="$(var.IconPath)"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.License)"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_InstallDir"/>
  </Product>

  <Fragment>
    <ComponentGroup Id="RegistryEntries">
      <Component Id="RegistryEntry7" Directory="TARGETDIR">
        <RegistryKey Root="HKCR"
                     Key="AcroExch.Document.7\shell\PdfCodeEditor"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="$(var.ProductName)"/>
          <RegistryValue Type="string" Name="Icon" Value="[#fil7FAF8E4E6003C4FD8CC7760A8822C90F]"/>
        </RegistryKey>
      </Component>
      <Component Id="RegistryEntry7Command" Directory="TARGETDIR">
        <RegistryKey Root="HKCR"
                     Key="AcroExch.Document.7\shell\PdfCodeEditor\command"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[#fil7FAF8E4E6003C4FD8CC7760A8822C90F]  %1"/>
        </RegistryKey>
      </Component>
      <Component Id="RegistryEntry" Directory="TARGETDIR">
        <RegistryKey Root="HKCR"
                     Key="AcroExch.Document\shell\PdfCodeEditor"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="$(var.ProductName)"/>
          <RegistryValue Type="string" Name="Icon" Value="[#fil7FAF8E4E6003C4FD8CC7760A8822C90F]"/>
        </RegistryKey>
      </Component>
      <Component Id="RegistryEntryCommand" Directory="TARGETDIR">
        <RegistryKey Root="HKCR"
                     Key="AcroExch.Document\shell\PdfCodeEditor\command"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[#fil7FAF8E4E6003C4FD8CC7760A8822C90F]  %1"/>
        </RegistryKey>
      </Component>
      <Component Id="RegistryEntryDC" Directory="TARGETDIR">
        <RegistryKey Root="HKCR"
                     Key="AcroExch.Document.DC\shell\PdfCodeEditor"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="$(var.ProductName)"/>
          <RegistryValue Type="string" Name="Icon" Value="[#fil7FAF8E4E6003C4FD8CC7760A8822C90F]"/>
        </RegistryKey>
      </Component>
      <Component Id="RegistryEntryDCCommand" Directory="TARGETDIR">
        <RegistryKey Root="HKCR"
                     Key="AcroExch.Document.DC\shell\PdfCodeEditor\command"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[#fil7FAF8E4E6003C4FD8CC7760A8822C90F]  %1"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PdfCodeEditor"/>
      </Directory>
    </Directory>
  </Fragment>
</Wix>